# 04-Spam-Classifier

It's time to make our first real Machine Learning application of NLP: a spam classifier!

A spam classifier is a Machine Learning model that classifier texts (email or SMS) into two categories: Spam (1) or legitimate (0).

To do that, we will reuse our knowledge: we will apply preprocessing and BOW (Bag Of Words) on a dataset of texts.
Then we will use a classifier to predict to which class belong a new email/SMS, based on the BOW.

First things first: import the needed libraries.

In [3]:
# Import NLTK and all the needed libraries
import nltk
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

Load now the dataset in *spam.csv* using pandas. Use the 'latin-1' encoding as loading option.

In [7]:
# TODO: Load the dataset 
df=pd.read_csv('spam.csv')
df.head()

  Class                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

As usual, I suggest you to explore a bit this dataset.

In [9]:
# TODO: explore the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    5572 non-null   object
 1   Message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

So as you see we have a column containing the labels, and a column containing the text to classify.

We will begin by doing the usual preprocessing: tokenization, punctuation removal and lemmatization.

In [13]:
# TODO: Perform preprocessing over all the text
import string
# Tokenize
df['tokenized'] = df['Message'].apply(nltk.word_tokenize)
# Remove punctuation
df['tokenized']=df['tokenized'].apply(lambda tokens: [token for token in tokens if token not in string.punctuation])
# Remove stop words
df['tokenized']=df['tokenized'].apply(lambda tokens: [token for token in tokens if token.lower() not in nltk.corpus.stopwords.words('english')])
# Lemmatization
from nltk.stem import WordNetLemmatizer
wnl=WordNetLemmatizer()
df['tokenized']=df['tokenized'].apply(lambda tokens: [wnl.lemmatize(token) for token in tokens])
df.head()

,Class,Message,tokenized
0,ham,"Go until jurong point, crazy.. Available only ...","[Go, jurong, point, crazy, .., Available, bugi..."
1,ham,Ok lar... Joking wif u oni...,"[Ok, lar, ..., Joking, wif, u, oni, ...]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[Free, entry, 2, wkly, comp, win, FA, Cup, fin..."
3,ham,U dun say so early hor... U c already then say...,"[U, dun, say, early, hor, ..., U, c, already, ..."
4,ham,"Nah I don't think he goes to usf, he lives aro...","[Nah, n't, think, go, usf, life, around, though]"

Ok now we have our preprocessed data. Next step is to do a BOW.

In [20]:
# TODO: compute the BOW
from sklearn.feature_extraction.text import CountVectorizer
def identity_analyzer(tokens):
    return tokens
vectorizer=CountVectorizer(analyzer=identity_analyzer)
output=vectorizer.fit_transform(df['tokenized'])
print(output)

  (0, 2186)	1
  (0, 7393)	1
  (0, 8576)	1
  (0, 5773)	1
  (0, 63)	1
  (0, 1231)	1
  (0, 5285)	1
  (0, 8057)	1
  (0, 6837)	1
  (0, 10590)	1
  (0, 7496)	1
  (0, 6173)	1
  (0, 5284)	1
  (0, 64)	2
  (0, 1600)	1
  (0, 6810)	1
  (0, 4761)	1
  (0, 10423)	1
  (1, 64)	2
  (1, 3138)	1
  (1, 7524)	1
  (1, 2558)	1
  (1, 10514)	1
  (1, 10173)	1
  (1, 8285)	1
  :	:
  (5568, 6792)	1
  (5568, 10826)	1
  (5568, 6618)	1
  (5568, 6312)	1
  (5569, 64)	1
  (5569, 7981)	1
  (5569, 9731)	1
  (5569, 3299)	1
  (5570, 10173)	1
  (5570, 10458)	1
  (5570, 18)	1
  (5570, 7604)	1
  (5570, 8137)	1
  (5570, 6626)	1
  (5570, 9480)	1
  (5570, 6237)	1
  (5570, 6719)	1
  (5570, 5315)	1
  (5570, 6878)	1
  (5570, 7246)	1
  (5570, 4627)	1
  (5570, 5137)	1
  (5571, 8072)	1
  (5571, 10128)	1
  (5571, 3503)	1

Then make a new dataframe as usual to have a visual idea of the words used and their frequencies.

In [28]:
# TODO: Make a new dataframe with the BOW
feature_names=vectorizer.get_feature_names_out()
df2=pd.DataFrame(output.toarray(), columns=feature_names)
df2.head()

,'','An,'Comfort,'HEART,'IF,'Luxury,'MARRIED,'Maangalyam,'Melle,'Need,...,��10,��Harry,��It,��MORROW,��_,��_Thanks,��rents,���,���Harry,���_
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Let's check what is the most used word in the spam category and the non spam category.

There are two steps: first add the class to the BOW dataframe. Second, filter on a class, sum all the values and print the most frequent one.

In [51]:
# TODO: print the most used word in the spam and non spam category
df2['SpamOrNot']=df['Class']
spam_df2=df2[df2['SpamOrNot']=='spam']
print("most common spam word:",spam_df2.select_dtypes(include='int64').sum().idxmax())

most common spam word: call

You should find that the most frequent spam word is 'free', not so surprising, right?

Now we can make a classifier based on our BOW. We will use a simple logistic regression here for the example.

You're an expert, you know what to do, right? Split the data, train your model, predict and see the performance.

In [61]:
# TODO: Perform a classification to predict whether a message is a spam or not
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
X_train, X_test, y_train, y_test = train_test_split(output, df2['SpamOrNot'], test_size=0.2, random_state=69)
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.9730941704035875
              precision    recall  f1-score   support

         ham       0.97      1.00      0.98       953
        spam       0.99      0.82      0.90       162

    accuracy                           0.97      1115
   macro avg       0.98      0.91      0.94      1115
weighted avg       0.97      0.97      0.97      1115

What precision do you get? Check by hand on some samples where it did predict well to check what could go wrong...

Try to use other models and try to improve your results.

In [63]:
from sklearn.svm import LinearSVC
classifier = LinearSVC()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.9811659192825112
              precision    recall  f1-score   support

         ham       0.98      1.00      0.99       953
        spam       1.00      0.87      0.93       162

    accuracy                           0.98      1115
   macro avg       0.99      0.94      0.96      1115
weighted avg       0.98      0.98      0.98      1115

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/svm/_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(