# 01-TF-IDF

We will here compute the TF-IDF on a corpus of newspaper headlines.

Begin by importing needed libraries:

In [1]:
# import needed libraries
import nltk
import numpy as np
import pandas as pd

Import the data into the file *headlines.csv*

In [2]:
# TODO: Load the dataset
df=pd.read_csv('headlines.csv')

As usual, check the dataset basic information.

In [3]:
# TODO: Have a look at the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   publish_date   1999 non-null   int64
 1   headline_text  1999 non-null   object
dtypes: int64(1), object(1)
memory usage: 31.4+ KB

We will now perform preprocessing on this text data: tokenization, punctuation and stop words removal and stemming.

Hint: to do so, use NLTK, *pandas*'s method *apply*, lambda functions and list comprehension

In [27]:
# TODO: Perform preprocessing
# import needed modules
import string
# Tokenize
df['tokenized'] = df['headline_text'].apply(nltk.word_tokenize)
# Remove punctuation
df['tokenized']=df['tokenized'].apply(lambda tokens: [token for token in tokens if token not in string.punctuation])
# Remove stop words
df['tokenized']=df['tokenized'].apply(lambda tokens: [token for token in tokens if token.lower() not in nltk.corpus.stopwords.words('english')])
# Stem
stemmer = nltk.stem.PorterStemmer()
df['tokenized']=df['tokenized'].apply(lambda tokens: [stemmer.stem(token) for token in tokens])
df.head()

,publish_date,headline_text,tokenized
0,20170721,algorithms can make decisions on behalf of fed...,"[algorithm, make, decis, behalf, feder, minist]"
1,20170721,andrew forrests fmg to appeal pilbara native t...,"[andrew, forrest, fmg, appeal, pilbara, nativ,..."
2,20170721,a rural mural in thallan,"[rural, mural, thallan]"
3,20170721,australia church risks becoming haven for abusers,"[australia, church, risk, becom, abus]"
4,20170721,australian company usgfx embroiled in shanghai...,"[australian, compani, usgfx, embroil, shanghai..."

Compute now the Bag of Words for our data, using scikit-learn.

Warning: since we used our own preprocessing, you have to bypass analyzer with identity function.

In [107]:
# TODO: Compute the BOW of the preprocessed data
from sklearn.feature_extraction.text import CountVectorizer
def identity_analyzer(tokens):
    return tokens
vectorizer=CountVectorizer(analyzer=identity_analyzer)
output=vectorizer.fit_transform(df['tokenized'])
print(output.shape)
print(output)

(1999, 4271)
  (0, 182)	1
  (0, 2321)	1
  (0, 1087)	1
  (0, 447)	1
  (0, 1452)	1
  (0, 2457)	1
  (1, 222)	1
  (1, 1541)	1
  (1, 1514)	1
  (1, 251)	1
  (1, 2832)	1
  (1, 2562)	1
  (1, 3860)	1
  (1, 3281)	1
  (2, 3286)	1
  (2, 2532)	1
  (2, 3802)	1
  (3, 341)	1
  (3, 800)	1
  (3, 3227)	1
  (3, 438)	1
  (3, 103)	1
  (4, 343)	1
  (4, 884)	1
  (4, 4031)	1
  :	:
  (1995, 1056)	1
  (1995, 2643)	1
  (1995, 2479)	1
  (1995, 1012)	1
  (1996, 341)	1
  (1996, 787)	1
  (1996, 3328)	1
  (1996, 3542)	1
  (1996, 3355)	1
  (1996, 1489)	1
  (1996, 2542)	1
  (1996, 1069)	1
  (1996, 2809)	1
  (1997, 341)	1
  (1997, 2955)	1
  (1997, 1411)	1
  (1997, 755)	1
  (1997, 702)	1
  (1997, 1235)	1
  (1997, 3264)	1
  (1998, 884)	1
  (1998, 1241)	1
  (1998, 2937)	1
  (1998, 1826)	1
  (1998, 999)	1

You can check the shape of the BOW, the expected value is `(1999, 4165)`.

Now compute the Term Frequency and then the Inverse Document Frequency, and check the values are not only zeros.

In [119]:
# TODO: Compute the TF using the BOW
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer()
tfidf_matrix = tfidf_transformer.fit_transform(output)
tf_matrix = tfidf_matrix.toarray()
np.any(tf_matrix)

True

In [115]:
# TODO: Compute the IDF
print(tfidf_transformer.idf_)

[7.90775528 7.90775528 6.65499231 ... 7.90775528 7.90775528 7.90775528]

Compute finally the TF-IDF.

In [113]:
# TODO: compute the TF-IDF
print(tfidf_matrix)

  (0, 2457)	0.37940445994614136
  (0, 2321)	0.3267905927279272
  (0, 1452)	0.36465387895025764
  (0, 1087)	0.3852340690707783
  (0, 447)	0.4836746969147799
  (0, 182)	0.4836746969147799
  (1, 3860)	0.3229796671605963
  (1, 3281)	0.327942300480771
  (1, 2832)	0.39063104545637256
  (1, 2562)	0.34651373707753075
  (1, 1541)	0.3756519462531484
  (1, 1514)	0.3756519462531484
  (1, 251)	0.327942300480771
  (1, 222)	0.3545400916768914
  (2, 3802)	0.6136272674992542
  (2, 3286)	0.4969136274673873
  (2, 2532)	0.6136272674992542
  (3, 3227)	0.4412675558631679
  (3, 800)	0.5235336535355645
  (3, 438)	0.48833892208322827
  (3, 341)	0.3197580743141225
  (3, 103)	0.4364347933514976
  (4, 4031)	0.4228385123497916
  (4, 3603)	0.4228385123497916
  (4, 3594)	0.3424134326053298
  :	:
  (1995, 2643)	0.4302755758469799
  (1995, 2479)	0.5485265217155414
  (1995, 1056)	0.4616278141304413
  (1995, 1012)	0.5485265217155414
  (1996, 3542)	0.28621722386943427
  (1996, 3355)	0.3298771294058291
  (1996, 3328)	0.24055343185829647
  (1996, 2809)	0.4205359647251682
  (1996, 2542)	0.3718074452777344
  (1996, 1489)	0.3989732513653019
  (1996, 1069)	0.3718074452777344
  (1996, 787)	0.29548937093004335
  (1996, 341)	0.2270884248123804
  (1997, 3264)	0.4661577740693628
  (1997, 2955)	0.37128230457207045
  (1997, 1411)	0.340002064396846
  (1997, 1235)	0.4252971334206717
  (1997, 755)	0.37749324835081804
  (1997, 702)	0.37749324835081804
  (1997, 341)	0.25172409379216565
  (1998, 2937)	0.38959152210216524
  (1998, 1826)	0.5118313515205288
  (1998, 1241)	0.41725370918779786
  (1998, 999)	0.47698111733223886
  (1998, 884)	0.4296922961658734

What are the 10 words with the highest and lowest TF-IDF on average?

In [128]:
# TODO: Print the 10 words with the highest and lowest TF-IDF on average
feature_names = vectorizer.get_feature_names_out()
average_tfidf_scores = tfidf_matrix.mean(axis=0).A1

word_tfidf_scores = dict(zip(feature_names, average_tfidf_scores))

sorted_words = sorted(word_tfidf_scores.items(), key=lambda x: x[1], reverse=True)

top_10_words = sorted_words[:10]

bottom_10_words = sorted_words[-10:]

print("Highest 10 words:")
for word, score in top_10_words:
    print(word,score)

print("Lowest 10 words:")
for word, score in bottom_10_words:
    print(word,score)

Highest 10 words:
australia 0.009983014998891407
australian 0.009697330148661608
new 0.008703107457097205
polic 0.00773605920474811
say 0.0075404597577821775
trump 0.006840891998202151
man 0.006548453421337382
wa 0.006274671593818187
charg 0.006028832916829901
sydney 0.005642415973209536
Lowest 10 words:
fabio 0.0001613676677950104
adel 0.0001527054029533165
coll 0.0001527054029533165
gcfc 0.0001527054029533165
geel 0.0001527054029533165
gw 0.0001527054029533165
haw 0.0001527054029533165
melb 0.0001527054029533165
nmfc 0.0001527054029533165
syd 0.0001527054029533165

Now let's compute the TF-IDF using scikit-learn on our preprocessed data (the one you used to compute the BOW).

In [10]:
# TODO: Compute the TF-IDF using scikit learn

Compare the 10 highest and lowest TF-IDF words on average to the ones you had by yourself.

In [11]:
# TODO: Print the 10 words with the highest and lowest TF-IDF on average

lowest words: coll     0.305258
gw       0.305258
nmfc     0.305258
adel     0.305258
melb     0.305258
syd      0.305258
haw      0.305258
geel     0.305258
gcfc     0.305258
fabio    0.322574
dtype: float64
highest words: mosul        0.779137
rig          0.786813
travel       0.788050
aquapon      0.794899
date         0.794899
employ       0.795060
financ       0.803629
mongolian    0.831769
pump         1.000000
peacemak     1.000000
dtype: float64

Do you have the same words? How do you explain it?